node_modules
.next
.git
.github
.vscode
.idea
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
.env
.env.*
!.env.example
coverage
.cache
.turbo
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal
My_Courses
